input,
textarea#comment {
    border-radius: var(--global-br);
    color: var(--a-c-dimGray);
    font-size: 0.734em;
    font-family: "AntykwaPoltawskiegoRegular", serif;
}

input[type=text]:hover,
input[type=text]:focus,
textarea#comment:hover,
textarea#comment:focus {
    border-color: var(--a-c-dimGray);
    transition-duration: 0.3s;
}

input[type=text],
textarea#comment {
    background: var(--a-c-white);
    border: 0.09em solid var(--a-c-silver);
    padding: 0.28em 0.454em;
}

.button,
#submit {
    background: var(--a-c-whiteSmoke);
    border: 0;
    margin-top: 0.236em;
    padding: 0.382em 0.734em;
}

.button:hover,
#submit:hover {
    background: var(--a-c-fireBrick);
    transition-duration: 0.075s;
}

.button:hover,
#submit:hover {
    color: var(--a-c-white);
    transition-duration: 0.15s;
}
