h1 {
    line-height: calc(var(--leading-s) * 1);
    font-size: 2rem;
    font-weight: 700;
}

#sidebar h1 {
    color: var(--a-c-fireBrick);
}

h1 a,
h1.entry-title {
    display: block;
    color: var(--a-c-charcoal);
}

.sticky h1 {
    line-height: 118.8%;
    font-size: 1.188em;
}

.sticky h1 a {
    border-radius: var(--global-br);
    background: var(--a-c-fireBrick);
    padding: 0.554em 0.618em 0.454em;
    color: var(--a-c-white);
}

.sticky h1 a:hover {
    background: var(--a-c-persianRed);
}

h2 {
    text-align: center;
    line-height: calc(var(--leading-s) * 2);
    font-size: 1.5rem;
    font-style: italic;
}

#sidebar h2 {
    line-height: inherit;
    font-size: 1rem;
    font-style: normal;
}

h3 {
    margin: 1.618em 0 0.734em;
    border-top: 0.09em solid var(--a-c-silver);
    border-bottom: 0.09em solid var(--a-c-silver);
    padding: 0.454em;
    font-size: 1.188em;
}
