/* -----------------------------------------------------------------------------
WP layout
----------------------------------------------------------------------------- */

#page-wrap {
    margin: 0 auto;
    padding: calc(var(--leading-s) * 2) var(--leading-s) calc(var(--leading-s) * 3);
    max-width: 1000px;
}

#center,
#left,
#sidebar {
    float: left;
    box-sizing: border-box;
}


#left {
    width: 20%;
    text-align: center;
}

#center {
    padding-right: calc(var(--leading-s) * 2);
    padding-left: calc(var(--leading-s) * 2);
    width: 60%;
}

#sidebar {
    width: 20%;
    text-align: center;
}

#footer {
    clear: both;
    padding-top: calc(var(--leading-s) * 3);
    text-align: center;
    color: var(--a-c-silver);
}

.navigation {
    width: 100%;
}

#searchform {
    margin: 0 auto;
}

#searchform input {
    width: 100%;
    box-sizing: border-box;
}

/* -----------------------------------------------------------------------------
media queries
----------------------------------------------------------------------------- */

@media all and (max-width: 900px) {
    #header {
        padding: 1.618em 0 2.618em;
        text-align: center;
    }
    #center {
        width: 50%;
    }
    #sidebar {
        margin-top: 2.618em;
        padding: 0;
        clear: both;
        width: 100%;
        max-width: none;
    }
}

@media all and (max-width: 640px) {
    #header {
        padding: 1.188em 0 0.618em;
        text-align: center;
    }
    #center,
    #left {
        float: none;
        margin: 0;
        padding: 1.188em 2.618em 0;
        max-width: none;
        width: auto;
    }
    #sidebar {
        margin-top: 2.618em;
    }
}

@media all and (max-width: 480px) {
    #center,
    #left {
        padding: 1.188em 1.188em 0;
    }
}
