.widget_mailchimpsf_widget {
    margin: 2.618em auto;
    max-width: 8.139em;
    min-width: 6.854em;
}

#mc_display_rewards {
    font-size: 0.734em;
    margin-top: 0.618em;
}

.widget_mailchimpsf_widget .mc_input,
#searchform input {
    width: 85%;
}

.widget_mailchimpsf_widget .button,
#searchform #searchsubmit {
    width: 95%;
}

label.mc_var_label {
    display: none;
}

#mc_signup br {
    display: none;
}
