.menu-item {
    background: var(--a-c-whiteSmoke);
    text-align: center;
}

.menu-item:first-child {
    border-top-left-radius: 0.618em;
    border-top-right-radius: 0.618em;
}

.menu-item + .menu-item {
    margin-top: 1px;
}

.menu-item:last-child {
    border-bottom-left-radius: 0.618em;
    border-bottom-right-radius: 0.618em;
}

.menu-item a {
    display: block;
    padding: 0.734em;
    color: var(--a-c-dimGray);
}

.menu-item:hover {
    background: var(--a-c-fireBrick);
}

.menu-item:hover a {
    color: var(--a-c-white);
}

.current-menu-item {
    background: var(--a-c-fireBrick);
}

.current-menu-item a {
    color: var(--a-c-white);
}

.current-menu-item:hover {
    background: var(--a-c-persianRed);
}

#sidebar .menu-item {
    display: inline-block;
    margin: 0.09em;
    border-radius: 0.618em;
    font-size: 0.734em;
}

#sidebar .menu-item a {
    padding: 0.382em 0.734em;
}
