.entry {
    padding: 1em 0.09em 0;
}

.entry ul {
    padding: 0.618em 1.618em;
    list-style: circle;
}

.postmetadata {
    padding: 1em 0.107em 0.618em;
    color: var(--a-c-silver);
    font-size: 0.734em;
}

.postmetadata:hover {
    color: var(--a-c-charcoal);
}

.postmetadata a {
    color: var(--a-c-silver);
}

.postmetadata:hover a {
    color: var(--a-c-fireBrick);
}

.postmetadata:hover a:hover {
    color: var(--a-c-persianRed);
}

.post + .post {
    margin-top: 1.618em;
}

p + p {
    margin-top: 0.618em;
}

.entry p iframe,
.entry p img {
    margin-top: 0.618em;
    border: 0.09em solid var(--a-c-silver);
    padding: 0.734em;
}

.entry p iframe {
    width: 60%;
    min-width: 13.168em;
    max-width: 21.306em;
    height: 11.089em;
}

.entry p img {
    width: 60%;
    min-width: 13.168em;
    max-width: 29.03em;
}

.entry p .signature {
    display: block;
    padding-left: 1.188em;
    color: var(--a-c-dimGray);
    font-size: 0.734em;
}
