.entry {
    padding: 1em 0.09em 0;
}

.entry ul {
    list-style: circle;
    padding: 0.618em 1.618em;
}

.postmetadata {
    color: var(--a-c-silver);
    font-size: 0.734em;
    padding: 1em 0.107em 0.618em;
}

.postmetadata:hover {
    color: var(--a-c-charcoal);
    -webkit-transition-duration: 0.45s;
    -moz-transition-duration: 0.45s;
    transition-duration: 0.45s;
}

.postmetadata a {
    color: var(--a-c-silver);
}

.postmetadata:hover a {
    color: var(--a-c-fireBrick);
    -webkit-transition-duration: 0.45s;
    -moz-transition-duration: 0.45s;
    transition-duration: 0.45s;
}

.postmetadata:hover a:hover {
    color: var(--a-c-persianRed);
}

.post + .post {
    margin-top: 1.618em;
}

p + p {
    margin-top: 0.618em;
}

p {
    text-align: left;
}

p iframe,
p img {
    border: 0.09em solid var(--a-c-silver);
    margin-top: 0.618em;
    padding: 0.734em;
}

p iframe {
    min-width: 13.168em;
    max-width: 21.306em;
    width: 60%;
    height: 11.089em;
}

p img {
    min-width: 13.168em;
    max-width: 29.03em;
    width: 60%;
}

p .signature {
    display: block;
    color: var(--a-c-dimGray);
    font-size: 0.734em;
    padding-left: 1.188em;
}
