/* -----------------------------------------------------------------------------
atoms - a palette of all possible variables used throughout the project
----------------------------------------------------------------------------- */

:root {
    /* colors */
    --a-c-white: hwb(0, 100%, 0%);
    --a-c-whiteSmoke: hwb(0, 95%, 5%);
    --a-c-silver: hwb(0, 76%, 24%);
    --a-c-silverAlt: hwb(0, 73%, 27%);
    --a-c-nobel: hwb(0, 60%, 40%);
    --a-c-dimGray: hwb(0, 40%, 60%);
    --a-c-mortar: hwb(0, 33%, 67%);
    --a-c-charcoal: hwb(0, 20%, 80%);
    --a-c-nero: hwb(0, 8%, 92%);
    --a-c-persianRed: hwb(0, 16%, 20%);
    --a-c-fireBrick: hwb(0, 14%, 30%);
    --a-c-schoolBusYellow: hwb(51, 0%, 1%);

    /* font families */
    --a-font-antykwaPoltawskiego: "AntykwaPoltawskiegoRegular", serif;
}
