/* -----------------------------------------------------------------------------
headerBordered organism
----------------------------------------------------------------------------- */

[i-o-headerBordered] {
    border-width: 1px 0;
    border-style: solid;
    border-color: currentColor;
    font-weight: 400;
}

[i-o-headerBordered]:not(:last-child) {
    margin-bottom: calc(var(--leading-s) * 2);
}
